@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  boxSizing: 'border-box';
}

body {
  background-color: #121214;
  color: #fff;
}

body, input, textarea, button: {
  fontFamily: 'Roboto';
  fontWeight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .background-product {
    background: linear-gradient(180deg, #1ea483 0%, #7565d4 100%);
  }

  .carrossel-container {
    max-width: calc(100vw - ((100vw - 1180px) / 2));
  }
}
